* {
  font-family: 'Noto Sans KR', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 14px;
  transition: 0.5s background ease;
}

table {
  border-collapse: collapse;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  max-width: 500px;
  min-width: 360px;
  table-layout: fixed;
}

th {
  cursor: pointer;
  user-select: none;
}

.white-preview th {
  border-bottom: 1px solid #bebebe;
}
.dark-preview th {
  border-bottom: 1px solid #1c2a39;
}

.white-preview td {
  padding: 4px 0;
  border-bottom: 1px solid #bebebe;
}

.dark-preview td {
  padding: 4px 0;
  border-bottom: 1px solid #1c2a39;
}

.trade_price {
  text-align: right;
  font-weight: bold;
}

.acc_trade_price_24h {
  text-align: right;
  letter-spacing: 0.3px;
}

.header-area {
  display: flex;
  align-items: center;
  padding: 10px 0 20px 0;
  max-width: 500px;
  min-width: 360px;
}

.search-area {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
}
.search-area .fa-search {
  position: absolute;
  left: 10px;
}

input[type='search'] {
  background: transparent;
  padding: 6px 10px 6px 32px;
  border-radius: 10em;
  width: 100%;
  font-size: 13px;
  box-sizing: border-box;
  outline: none;
  max-width: 350px;
  border: 2px solid #7d7d7d;
  font-family: 'Noto Sans KR', sans-serif;
}

.white-preview input[type='search'] {
  border: 2px solid #c6c6c6;
}
.dark-preview input[type='search'] {
  border: 2px solid #9c9c9c;
  color: white;
}

input::placeholder {
  font-family: 'Noto Sans KR', sans-serif;
}

.dark-preview input::placeholder {
  color: rgb(102, 102, 102);
}

@media screen and (max-width: 400px) {
  body {
    font-size: 12px;
  }
}

.market strong {
  word-break: break-all;
  margin: 2px 0 3px;
  line-height: 1em;
  font-weight: 700;
  cursor: pointer;
}

.market span {
  display: block;
  color: #666;
  font-size: 11px;
  letter-spacing: 0.05em;
}

.dark-preview .market span {
  color: #a0a0a0;
}

.percent {
  text-align: right;
}

.percent p {
  word-break: break-all;
  display: block;
  margin: 2px 0 3px;
  line-height: 1em;
  display: block;
  letter-spacing: 1px;
  font-size: 12px;
}

.percent span {
  display: block;
  color: #666;
  font-size: 11px;
  letter-spacing: 0.05em;
}

.dark-preview {
  background: #131d27;
  color: #ffffff;
}

.dark-preview div.btn-container i.fa-sun-o {
  color: #777;
}

.dark-preview div.btn-container i.fa-moon-o {
  color: #fff;
  text-shadow: 0px 0px 11px #fff;
}

.white-preview {
  background: #ffffff;
}

.white-preview div.btn-container i.fa-sun-o {
  color: #ffa500;
  text-shadow: 0px 0px 16px #ff4b00;
}

.white-preview div.btn-container i.fa-moon-o {
  color: #777;
}

.dark-preview p.by a {
  color: #777;
}

.white-preview p.by a {
  color: #000;
}

.white-preview .RISE .percent,
.white-preview .RISE .percent span,
.white-preview .RISE .trade_price {
  color: #d60000 !important;
}
.white-preview .FALL .percent,
.white-preview .FALL .percent span,
.white-preview .FALL .trade_price {
  color: #0051c7 !important;
}

.dark-preview .RISE .percent,
.dark-preview .RISE .percent span,
.dark-preview .RISE .trade_price {
  color: #ff5562 !important;
}

.dark-preview .FALL .percent,
.dark-preview .FALL .percent span,
.dark-preview .FALL .trade_price {
  color: #107bd0 !important;
}

td {
  min-height: 100px;
  position: relative;
}
.price-up:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 14%;
  height: 75%;
  width: 100%;
  border-radius: 3px;
  animation: priceUp 1s ease-in-out;
  box-sizing: border-box;
}
.price-down:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 14%;
  height: 75%;
  width: 100%;
  border-radius: 3px;
  animation: priceDown 1s ease-in-out;

  box-sizing: border-box;
}

@keyframes priceUp {
  0% {
    background-color: #fc525538;
  }
  100% {
  }
}
@keyframes priceDown {
  0% {
    background-color: #0050c738;
  }
  100% {
  }
}

.white-preview tr:hover {
  background-color: rgb(247, 247, 247);
}

.dark-preview tr:hover {
  background-color: #182531;
}

#tableBody {
  min-width: 360px;
  max-width: 500px;
  height: 85vh;
  overflow: hidden;
}
#tableHeader {
  min-width: 360px;
  max-width: 500px;
}

.notice {
  text-align: center;
}
